<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loyola.robotics.knightwatch" >
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.loyola.robotics.knightwatch.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoScouting"
            android:label="@string/title_activity_auto_scouting2"
            android:parentActivityName="com.loyola.robotics.knightwatch.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.loyola.robotics.knightwatch.TeleopScouting"
            android:label="@string/title_activity_teleop_scouting"
            android:parentActivityName=".AutoScouting" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="AutoScouting2" />
        </activity>
        <activity
            android:name="com.loyola.robotics.knightwatch.FileChooser"
            android:label="FileChooser" >
        </activity>
        <activity
            android:name="com.loyola.robotics.knightwatch.DispBestCycles"
            android:label="DispBestCycles" >
        </activity>
        <activity
            android:name="com.loyola.robotics.knightwatch.TeamStatsPage"
            android:label="@string/title_activity_team_stats_page"
            android:parentActivityName="com.loyola.robotics.knightwatch.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.loyola.robotics.knightwatch.TeamCyclesReport"
            android:label="@string/title_activity_team_cycles_report"
            android:parentActivityName="com.loyola.robotics.knightwatch.TeamStatsPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TeamStatsPage" />
        </activity>
    </application>

</manifest>
